<html>
	<head>
		<title>This is Testing</title>
	</head>
	<body>
		My Name is {{ .name }}<br>
		My Age is {{ .age }}<br>
		<table>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>MSISDN</td>
				<td>Email</td>
				<td>birth_date</td>
				<td>created_time</td>
				<td>update_time</td>
				<td>user_age</td>
				<td>calculation</td>
			</tr>
			{{ range _, $usr := .user }}
			<tr>
				{{ range _, $value := $usr}}
				<td>{{ $value }}</td>
				{{ end }}
				{{ range _, $result := .calculation }}
				<td>{{ $result }}</td>
				{{ end }}
			</tr>
			{{ end }}
		</table>
		<form>
			Filter by Name:<br/>
  			<input type="text" name="q"><br>
		</form>
		Visitors count: {{ .visitorCount }}
	</body>
</html>