<html>
	<head>
		<title>This is Testing</title>
	</head>
	<body>
		<table>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>MSISDN</td>
				<td>Email</td>
				<td>birth_date</td>
				<td>created_time</td>
				<td>update_time</td>
				<td>user_age</td>
				<td>calculation</td>
			</tr>
			{{ range $i, $usr := .user }}
			<tr>
				<td>{{ $usr.ID }}</td>
				<td>{{ $usr.Name }}</td>
				<td>{{ $usr.MSISDN }}</td>
				<td>{{ $usr.Email }}</td>
				<td>{{ $usr.BirthDate }}</td>
				<td>{{ $usr.CreatedTime }}</td>
				<td>{{ $usr.UpdateTime }}</td>
				<td>{{ $usr.UserAge }}</td>
				{{ range $j, $result := .calculation }}
				<td>{{ $result }}</td>
				{{ end }}
			</tr>
			{{ end }}
		</table>
		<form>
			Filter by Name:<br/>
  			<input type="text" name="q"><br>
		</form>
		Visitors count: {{ .visitorCount }}
	</body>
</html>